<div id="m-slider">
    <div id="container-slider">
        <i id="m-slide-next"></i>
        <img src="@Links.Content.Image._1_jpg" />
        <i id="m-slide-prev"></i>
        <h6>هندزفری های BEATS</h6>
        <p>کیفیت فوق العاده</p>
        <div>
            <button>مشاهده محصول</button>
        </div>
        <ul>
            <li>&bull;</li>
            <li>&bull;</li>
            <li>&bull;</li>
            <li>&bull;</li>
        </ul>
    </div>
</div>