@model IEnumerable<DomainClasses.Entities.Folder>

<div class="modal-dialog modal-lg animated bounceInDown">
    <div class="modal-content">
        <div class="modal-header alert alert-info text-center">
            <h4>تصویر خود را انتخاب کنید</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-2">
                            @Ajax.ActionLink(linkText: " ",
                           actionName: MVC.Admin.Folder.ActionNames.Pictures,
                           controllerName: MVC.Admin.Folder.Name,
                           ajaxOptions: new AjaxOptions
                           {
                               AllowCache = false,
                               HttpMethod = FormMethod.Get.ToString(),
                               InsertionMode = InsertionMode.Replace,
                               UpdateTargetId = "lightBox"
                           },
                           routeValues: new
                           {
                               folderId = item.Id,
                               elementId = ViewBag.ElementId
                           },
                           htmlAttributes: new
                           {
                               @class = "glyphicon glyphicon-folder-open font-size-70",
                               @style = "font-size:70px",
                               @rel = "nofollow",
                               @role = "button"
                           })
                            <h5>@item.Name</h5>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-info" data-dismiss="modal">تایید</button>
        </div>
    </div>
</div>