<div id="m-subscribe">
    @using (Ajax.BeginForm(new AjaxOptions() { }))
    {
        <div>
            <i class="fa fa-envelope"></i>
            @Html.Label("مشترک ما شوید و محصولات جدید را از طریق ایمیل دریافت کنید")
            @Html.TextBox("name", null, htmlAttributes: new
       {
           id = "m-text-box-name",
           placeholder = "نام خود را وارد نمایید",
           @required = "required",
           @type = "text"
       })
            @Html.TextBox("subscibe", null, htmlAttributes: new
       {
           id = "m-text-box-email",
           placeholder = "ایمیل خود را وارد نمایید",
           @required = "required",
           @type = "email"
       })
            <button type="submit">ارسال</button>
        </div>
    }
</div>
