
<title>@ViewBag.Title</title>
@if (!string.IsNullOrEmpty(ViewBag.KeyWords))
{
    <meta name="keywords" content="@ViewBag.KeyWords" />
}
@if (!string.IsNullOrEmpty(ViewBag.Description))
{
    <meta name="description" content="@ViewBag.Description" />
}
@if (!Request.IsLocal)
{
    <meta name="google-site-verification" content="uXXnJDMCSsTuZttmVZ2ZgPv2VmNOw-FlMIm6CDJnivM" />
    <meta name="msvalidate.01" content="77323545CE5808B8A1BA0CD372E87FB4" />
}

