@using MVCUI.Helpers
@using ViewModel.ViewModel.Admin.Product
@model IEnumerable<ProductSearchResultViewModel>

@{
    ViewBag.Title = ViewBag.word;
    Layout = MVC.Shared.Views._Layout;
}

<div id="_result_search">
    @if (Model.Any())
    {
        foreach (ProductSearchResultViewModel item in Model)
        {
            <div class="load_content_search">
                <div class="__img_searching">
                    <img src="@item.ImagePath" />
                </div>
                <div class="__link_searching">
                    @Html.ActionLink(linkText: item.Name
           , actionName: MVC.Product.ActionNames.Index,
           controllerName: MVC.Product.Name,
           routeValues: new
           {
               productId = item.Id,
               name = SeoExtentions.ResolveTitleForUrl(item.Name)
           },
           htmlAttributes: new { })
                </div>
            </div>
        }

    }
    else
    {
        <p>نتایج جستجو برای کالای ' <span>@ViewBag.word</span> ' یافت نشد</p>
    }

</div>