@using Lucene.Net.Analysis.Shingle.Matrix

@{
    Layout = MVC.Admin.Shared.Views._AdminLayout;
}

<div class="row">
    <div class="col-lg-10">
        @using (Ajax.BeginForm(MVC.Admin.User.ActionNames.List,
                                    MVC.Admin.User.Name,
                                    null,
                                    new AjaxOptions
                                    {
                                        HttpMethod = "GET",
                                        InsertionMode = InsertionMode.Replace,
                                        UpdateTargetId = "usersList"
                                    }, new
                                    {
                                        @class = "form-horizontal",
                                        id = "userSearchForm"
                                    }))
        {

            <div class="col-md-4">
                @Html.TextBox("term", String.Empty, htmlAttributes: new
           {
               placeholder = "جستجو ",
               type = "text",
               @class = "form-control"
           })
            </div>
            <div class="col-md-3">
                @Html.DropDownList("userSearchBy", ViewBag.UserSearchByList as IEnumerable<SelectListItem>, new { @class = "form-control" })
            </div>
            <div class="col-md-5">
                <input type="submit" value="جست و جو" class="btn btn-md btn-default" />
            </div>
        }
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive" id="usersList">
            @{ Html.RenderAction(MVC.Admin.User.ActionNames.List, MVC.Admin.User.Name);}
        </div>
    </div>
</div>
