<div id="m-header-search">
    <div id="m-btn-toggle-search-box"><i class="fa fa-search"></i></div>
    <div id="m-container-search">
        @using (Html.BeginForm(MVC.Search.ActionNames.Search, MVC.Search.Name, FormMethod.Get, new { @autocomplete = "off", @id="_search_form" }))
        {
            <label style="display:none">جستجو</label>
            @Html.TextBox("word", null, htmlAttributes: new
       {
           id = "m-text-box-search",
           placeholder = "جستجو",
           @reqiured = "required",
           type = "search"
       })
            <button type="submit" id="m-submit-search"><i class="fa fa-search"></i></button>
        }
        <div id="__load_search_container">
           
        </div>
    </div>
    <div id="m-container-img-brand">
        <img id="_logo_img0000" src="#" />
    </div>
    <div id="m-toggle-menu"><i class="fa fa-bars"></i></div>
</div>

